# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Examen.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Visual Studio\ExamenGitTest\.idea\.idea.Examen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
